########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################


# All configuration is loaded from here:
include: "{{ nsd.config_include_dir }}/{{ nsd.config_include_glob }}"


########################################################################
#
# This section is for testing only. You can safely ignore it and delete
# it from your templates.
#
# winner of the merge: {{ nsd.winner }}
#
# {{ nsd | json}}
#
########################################################################
